/* ======================= GLOBAL */

:root{
   --light-color: #f8f8f2;
   --dark-color: #282a36;
   --red-color: #ff5555;
   --green-color: #50fa7b;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;

}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: var(--light-color);
   /* height: 100vh; */
   /* overflow: hidden; */

}

a {
   text-decoration: none;
}

button {
   font-size: inherit;
}

/* ======================= HEADER */


#main-header {
   background-color: var(--dark-color);
   height: 70px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 2rem;
}

#main-header div {
   display: flex;
   gap: 1.5rem;
   align-items: center;
}

#main-header div:last-child a {
   color: var(--light-color);
   transition: all 0.2s ease;
}

#main-header div:last-child a:hover {
   color: var(--red-color);
}

#main-header div:first-child i {
   color: var(--green-color);
   /* margin-right: 2rem; */
}

#main-header h2 {
   color: var(--light-color);

}


/* ======================= MAIN-CONTENT */

.main-content {
   /* display: flex; */
   padding: 3rem 2rem 5rem;
   /* align-items: flex-start; */
   /* justify-content: space-between; */
   /* gap: 2rem; */
}

/* video and stopwatch section */
.main-content > :first-child {
   display: flex;
   /* align-items: flex-start; */
   gap: 2rem;
   margin-bottom: 2rem;
}

.main-content > :first-child video {
   /* width: 100%; */
   flex: 70%;
}

.main-content > :first-child .stopwatches {
   flex: 30%;
}

/* table section */
.main-content > :last-child {
   overflow-x: auto;

}


/* ======================= DATA-TABLE */


.data-table {
   width: 100%;
   border-spacing: 0;
   font-size: 1.2rem;
   /* height: 300px;  
   overflow: scroll; */
   /* flex: 50%; */
   /* border-radius: 0.5rem; */
}

table, th, td {
   border: 1px solid black;
}



table tr {

   background-color: var(--dark-color);
   /* text-align: left; */
   color: var(--light-color);

}

table tbody tr{

   opacity: 0.9;
}

table tbody tr:hover {

   opacity: 1;
}

table th {

   padding: 0.5rem;
   font-weight: normal;
}

table td {
   text-align: center;
   padding: 1rem 0.5rem;
   
}


/* ======================= STOPWATCH */

.stopwatches {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   gap: 1rem;
}

.stopwatches #timebetween-stopwatch {
   grid-column: 1/ span 2;
}

.stopwatch {
   background-color: var(--dark-color);
   /* width: 170px; */
   /* margin: 0 auto 2rem; */
   color: white;
   padding: 1rem;
   border-radius: 1rem;
   text-align: center;
}

.stopwatch h3 {
   margin-bottom: 1rem;
   font-size: 1.4rem;
   font-weight: normal;
   text-transform: uppercase;
}

.stopwatch p {
   font-size: 2.4rem;
}

